# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Next.js
.next/
out/
build/
dist/

# Environment
.env
.env*.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.tsbuildinfo
*.swp
*.swo
.vscode/

# Git merge conflict artifacts
*.rej

# Prisma
prisma/migrations/


# Logs
logs/

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
/.codacy-coverage
