openapi: 3.0.3
info:
  title: bl1nk Skill IDE API
  version: 0.1.0
  description: |
    The bl1nk Skill IDE API powers workspace-centric development of Claude/GPT skills,
    orchestrated agents, MCP tools, curated knowledgebases, and persistent memories.
    This specification captures the minimal REST surface for desktop and cloud clients.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bl1nk.ai/v1
    description: Production
  - url: https://staging.bl1nk.ai/v1
    description: Staging
  - url: https://dev.bl1nk.ai/v1
    description: Internal development
tags:
  - name: Auth
    description: Authentication and session lifecycle
  - name: Users
    description: End-user profiles and preferences
  - name: Workspaces
    description: Workspace lifecycle and membership
  - name: Skills
    description: Claude skill definitions and version history
  - name: Agents
    description: Orchestrated multi-skill agents
  - name: Tools
    description: MCP tool definitions
  - name: Knowledge
    description: Knowledgebases and ingestion
  - name: Memory
    description: Persistent memory objects
  - name: Providers
    description: External AI provider credentials
  - name: Testing
    description: Chat-based test harnesses
security:
  - bearerAuth: []
paths:
  /auth/register:
    post:
      security: []
      tags:
        - Auth
      summary: Register a user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/ConflictError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AuthController
      x-openapi-router-service: AuthService
      x-eov-operation-handler: controllers/AuthController
  /auth/login:
    post:
      security: []
      tags:
        - Auth
      summary: Authenticate with email/password
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AuthController
      x-openapi-router-service: AuthService
      x-eov-operation-handler: controllers/AuthController
  /auth/me:
    get:
      security:
        - bearerAuth: []
      tags:
        - Auth
      summary: Get the authenticated user
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AuthController
      x-openapi-router-service: AuthService
      x-eov-operation-handler: controllers/AuthController
  /users/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Users
      summary: Fetch a user profile
      operationId: getUser
      responses:
        '200':
          description: User detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
      x-eov-operation-handler: controllers/UsersController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Users
      summary: Update profile fields
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
      x-eov-operation-handler: controllers/UsersController
  /users/{userId}/workspaces:
    parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
    get:
      security:
        - bearerAuth: []
      tags:
        - Users
        - Workspaces
      summary: List workspaces accessible by a user
      operationId: listUserWorkspaces
      responses:
        '200':
          description: Workspace list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  meta: null
                $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
      x-eov-operation-handler: controllers/UsersController
  /workspaces:
    parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
    get:
      security:
        - bearerAuth: []
      tags:
        - Workspaces
      summary: List workspaces
      operationId: listWorkspaces
      responses:
        '200':
          description: Workspace collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  meta: null
                $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: WorkspacesController
      x-openapi-router-service: WorkspacesService
      x-eov-operation-handler: controllers/WorkspacesController
    post:
      security:
        - bearerAuth: []
      tags:
        - Workspaces
      summary: Create a workspace
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: WorkspacesController
      x-openapi-router-service: WorkspacesService
      x-eov-operation-handler: controllers/WorkspacesController
  /workspaces/{workspaceId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Workspaces
      summary: Retrieve workspace detail
      operationId: getWorkspace
      responses:
        '200':
          description: Workspace detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: WorkspacesController
      x-openapi-router-service: WorkspacesService
      x-eov-operation-handler: controllers/WorkspacesController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Workspaces
      summary: Update workspace metadata
      operationId: updateWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
      responses:
        '200':
          description: Updated workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: WorkspacesController
      x-openapi-router-service: WorkspacesService
      x-eov-operation-handler: controllers/WorkspacesController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Workspaces
      summary: Archive a workspace
      operationId: deleteWorkspace
      responses:
        '204':
          description: Workspace archived
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: WorkspacesController
      x-openapi-router-service: WorkspacesService
      x-eov-operation-handler: controllers/WorkspacesController
  /workspaces/{workspaceId}/skills:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
    get:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: List workspace skills
      operationId: listSkills
      responses:
        '200':
          description: Skill list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
                  meta: null
                $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
    post:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: Create a skill
      operationId: createSkill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSkillRequest'
      responses:
        '201':
          description: Skill created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
  /workspaces/{workspaceId}/skills/{skillId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/SkillId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: Fetch a skill
      operationId: getSkill
      responses:
        '200':
          description: Skill detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: Update a skill
      operationId: updateSkill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSkillRequest'
      responses:
        '200':
          description: Updated skill
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: Delete a skill
      operationId: deleteSkill
      responses:
        '204':
          description: Skill deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
  /workspaces/{workspaceId}/skills/{skillId}/versions:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/SkillId'
      - $ref: '#/components/parameters/Limit'
    get:
      security:
        - bearerAuth: []
      tags:
        - Skills
      summary: List version history
      operationId: listSkillVersions
      responses:
        '200':
          description: Skill versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SkillVersion'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
  /workspaces/{workspaceId}/skills/{skillId}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/SkillId'
    post:
      security:
        - bearerAuth: []
      tags:
        - Skills
        - Testing
      summary: Test a skill via chat completion
      operationId: testSkill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillTestRequest'
      responses:
        '200':
          description: Test response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '412':
          description: Provider missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: SkillsController
      x-openapi-router-service: SkillsService
      x-eov-operation-handler: controllers/SkillsController
  /workspaces/{workspaceId}/agents:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
    get:
      security:
        - bearerAuth: []
      tags:
        - Agents
      summary: List agents
      operationId: listAgents
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  meta: null
                $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
    post:
      security:
        - bearerAuth: []
      tags:
        - Agents
      summary: Create an agent
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
  /workspaces/{workspaceId}/agents/{agentId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Agents
      summary: Fetch an agent
      operationId: getAgent
      responses:
        '200':
          description: Agent detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Agents
      summary: Update an agent
      operationId: updateAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Agents
      summary: Delete an agent
      operationId: deleteAgent
      responses:
        '204':
          description: Agent removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
  /workspaces/{workspaceId}/agents/{agentId}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'
    post:
      security:
        - bearerAuth: []
      tags:
        - Agents
        - Testing
      summary: Chat-test an agent with optional tool calls
      operationId: testAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTestRequest'
      responses:
        '200':
          description: Agent test response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: AgentsController
      x-openapi-router-service: AgentsService
      x-eov-operation-handler: controllers/AgentsController
  /workspaces/{workspaceId}/tools:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Tools
      summary: List MCP tools in a workspace
      operationId: listTools
      responses:
        '200':
          description: Tool list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ToolsController
      x-openapi-router-service: ToolsService
      x-eov-operation-handler: controllers/ToolsController
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools
      summary: Create a tool definition
      operationId: createTool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
      responses:
        '201':
          description: Tool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ToolsController
      x-openapi-router-service: ToolsService
      x-eov-operation-handler: controllers/ToolsController
  /workspaces/{workspaceId}/tools/{toolId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ToolId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Tools
      summary: Fetch a tool definition
      operationId: getTool
      responses:
        '200':
          description: Tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ToolsController
      x-openapi-router-service: ToolsService
      x-eov-operation-handler: controllers/ToolsController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Tools
      summary: Update a tool
      operationId: updateTool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateToolRequest'
      responses:
        '200':
          description: Updated tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ToolsController
      x-openapi-router-service: ToolsService
      x-eov-operation-handler: controllers/ToolsController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Tools
      summary: Delete a tool
      operationId: deleteTool
      responses:
        '204':
          description: Tool removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ToolsController
      x-openapi-router-service: ToolsService
      x-eov-operation-handler: controllers/ToolsController
  /workspaces/{workspaceId}/knowledgebases:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Knowledge
      summary: List knowledgebases
      operationId: listKnowledgebases
      responses:
        '200':
          description: Knowledgebase list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Knowledgebase'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: KnowledgeController
      x-openapi-router-service: KnowledgeService
      x-eov-operation-handler: controllers/KnowledgeController
    post:
      security:
        - bearerAuth: []
      tags:
        - Knowledge
      summary: Create a knowledgebase
      operationId: createKnowledgebase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKnowledgebaseRequest'
      responses:
        '201':
          description: Knowledgebase created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledgebase'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: KnowledgeController
      x-openapi-router-service: KnowledgeService
      x-eov-operation-handler: controllers/KnowledgeController
  /workspaces/{workspaceId}/knowledgebases/{knowledgebaseId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/KnowledgebaseId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Knowledge
      summary: Fetch a knowledgebase
      operationId: getKnowledgebase
      responses:
        '200':
          description: Knowledgebase detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledgebase'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: KnowledgeController
      x-openapi-router-service: KnowledgeService
      x-eov-operation-handler: controllers/KnowledgeController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Knowledge
      summary: Update a knowledgebase
      operationId: updateKnowledgebase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKnowledgebaseRequest'
      responses:
        '200':
          description: Updated knowledgebase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledgebase'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: KnowledgeController
      x-openapi-router-service: KnowledgeService
      x-eov-operation-handler: controllers/KnowledgeController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Knowledge
      summary: Delete a knowledgebase
      operationId: deleteKnowledgebase
      responses:
        '204':
          description: Knowledgebase deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: KnowledgeController
      x-openapi-router-service: KnowledgeService
      x-eov-operation-handler: controllers/KnowledgeController
  /workspaces/{workspaceId}/memories:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
    get:
      security:
        - bearerAuth: []
      tags:
        - Memory
      summary: List memory artifacts
      operationId: listMemories
      responses:
        '200':
          description: Memory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Memory'
                  meta: null
                $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: MemoryController
      x-openapi-router-service: MemoryService
      x-eov-operation-handler: controllers/MemoryController
    post:
      security:
        - bearerAuth: []
      tags:
        - Memory
      summary: Create a memory entry
      operationId: createMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemoryRequest'
      responses:
        '201':
          description: Memory created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: MemoryController
      x-openapi-router-service: MemoryService
      x-eov-operation-handler: controllers/MemoryController
  /workspaces/{workspaceId}/memories/{memoryId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/MemoryId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Memory
      summary: Fetch a memory entry
      operationId: getMemory
      responses:
        '200':
          description: Memory detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: MemoryController
      x-openapi-router-service: MemoryService
      x-eov-operation-handler: controllers/MemoryController
    patch:
      security:
        - bearerAuth: []
      tags:
        - Memory
      summary: Update a memory entry
      operationId: updateMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemoryRequest'
      responses:
        '200':
          description: Updated memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: MemoryController
      x-openapi-router-service: MemoryService
      x-eov-operation-handler: controllers/MemoryController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Memory
      summary: Delete a memory entry
      operationId: deleteMemory
      responses:
        '204':
          description: Memory removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: MemoryController
      x-openapi-router-service: MemoryService
      x-eov-operation-handler: controllers/MemoryController
  /workspaces/{workspaceId}/providers:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      security:
        - bearerAuth: []
      tags:
        - Providers
      summary: List provider credentials
      operationId: listProviders
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCredential'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ProvidersController
      x-openapi-router-service: ProvidersService
      x-eov-operation-handler: controllers/ProvidersController
  /workspaces/{workspaceId}/providers/{provider}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Provider'
    put:
      security:
        - bearerAuth: []
      tags:
        - Providers
      summary: Upsert credentials for a provider
      operationId: upsertProviderCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialRequest'
      responses:
        '200':
          description: Stored credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredential'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ProvidersController
      x-openapi-router-service: ProvidersService
      x-eov-operation-handler: controllers/ProvidersController
    delete:
      security:
        - bearerAuth: []
      tags:
        - Providers
      summary: Delete provider credentials
      operationId: deleteProviderCredential
      responses:
        '204':
          description: Provider removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ProvidersController
      x-openapi-router-service: ProvidersService
      x-eov-operation-handler: controllers/ProvidersController
  /workspaces/{workspaceId}/providers/{provider}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Provider'
    post:
      security:
        - bearerAuth: []
      tags:
        - Providers
        - Testing
      summary: Test stored provider credentials
      operationId: testProviderCredential
      responses:
        '200':
          description: Provider status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        default:
          $ref: '#/components/responses/ServerError'
      x-openapi-router-controller: ProvidersController
      x-openapi-router-service: ProvidersService
      x-eov-operation-handler: controllers/ProvidersController
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    SkillId:
      name: skillId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    AgentId:
      name: agentId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    ToolId:
      name: toolId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    KnowledgebaseId:
      name: knowledgebaseId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    MemoryId:
      name: memoryId
      in: path
      required: true
      schema:
        type: string
        format: cuid
    Provider:
      name: provider
      in: path
      required: true
      schema:
        type: string
        enum:
          - bedrock
          - openrouter
          - openai
          - anthropic
          - ollama
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPage:
      name: perPage
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Search:
      name: search
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 10
  responses:
    ValidationError:
      description: Payload validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    UnauthorizedError:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ConflictError:
      description: Conflicting state or duplicate resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
          minLength: 1
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: string
          format: cuid
        email:
          type: string
          format: email
        name:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        role:
          type: string
          enum:
            - owner
            - admin
            - member
        status:
          type: string
          enum:
            - active
            - invited
            - disabled
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        avatarUrl:
          type: string
          format: uri
        locale:
          type: string
    Workspace:
      type: object
      properties:
        id:
          type: string
          format: cuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        visibility:
          type: string
          enum:
            - private
            - shared
        defaultProvider:
          type: string
          nullable: true
        stats:
          type: object
          properties:
            skills:
              type: integer
            agents:
              type: integer
            members:
              type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateWorkspaceRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum:
            - private
            - shared
          default: private
    UpdateWorkspaceRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum:
            - private
            - shared
        defaultProvider:
          type: string
    Skill:
      type: object
      properties:
        id:
          type: string
          format: cuid
        workspaceId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        content:
          type: string
        version:
          type: integer
        tags:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateSkillRequest:
      type: object
      required:
        - name
        - content
      properties:
        name:
          type: string
        description:
          type: string
        content:
          type: string
        tags:
          type: array
          items:
            type: string
    UpdateSkillRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
    SkillVersion:
      type: object
      properties:
        id:
          type: string
        skillId:
          type: string
        version:
          type: integer
        content:
          type: string
        createdAt:
          type: string
          format: date-time
    SkillTestRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        context:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        providerOverride:
          type: string
        model:
          type: string
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0.7
    Agent:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        summary:
          type: string
        status:
          type: string
          enum:
            - draft
            - testing
            - deployed
            - archived
        entrySkillId:
          type: string
        skillIds:
          type: array
          items:
            type: string
        toolIds:
          type: array
          items:
            type: string
        memoryPolicy:
          type: string
          enum:
            - 'off'
            - summary-only
            - full
        defaultProvider:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateAgentRequest:
      type: object
      required:
        - name
        - entrySkillId
      properties:
        name:
          type: string
        summary:
          type: string
        entrySkillId:
          type: string
        skillIds:
          type: array
          items:
            type: string
        toolIds:
          type: array
          items:
            type: string
        memoryPolicy:
          type: string
          enum:
            - 'off'
            - summary-only
            - full
        defaultProvider:
          type: string
    UpdateAgentRequest:
      allOf:
        - $ref: '#/components/schemas/CreateAgentRequest'
    AgentTestRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        context:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        providerOverride:
          type: string
        model:
          type: string
        enableTools:
          type: boolean
          default: true
    Tool:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        description:
          type: string
        runtime:
          type: string
          enum:
            - node
            - python
            - container
        entrypoint:
          type: string
        schemaRef:
          type: string
          format: uri
          nullable: true
        permissions:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
    CreateToolRequest:
      type: object
      required:
        - name
        - runtime
        - entrypoint
      properties:
        name:
          type: string
        description:
          type: string
        runtime:
          type: string
          enum:
            - node
            - python
            - container
        entrypoint:
          type: string
        schemaRef:
          type: string
        permissions:
          type: array
          items:
            type: string
    UpdateToolRequest:
      allOf:
        - $ref: '#/components/schemas/CreateToolRequest'
    Knowledgebase:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        type:
          type: string
          enum:
            - documents
            - repo
            - database
            - api
        embeddingModel:
          type: string
        chunkSize:
          type: integer
        chunkOverlap:
          type: integer
        documentCount:
          type: integer
        createdAt:
          type: string
          format: date-time
    CreateKnowledgebaseRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
            - documents
            - repo
            - database
            - api
        embeddingModel:
          type: string
        chunkSize:
          type: integer
          default: 1024
        chunkOverlap:
          type: integer
          default: 64
    UpdateKnowledgebaseRequest:
      allOf:
        - $ref: '#/components/schemas/CreateKnowledgebaseRequest'
    Memory:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        agentId:
          type: string
          nullable: true
        kind:
          type: string
          enum:
            - fact
            - preference
            - summary
            - conversation
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        importance:
          type: number
          minimum: 0
          maximum: 1
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateMemoryRequest:
      type: object
      required:
        - kind
        - content
      properties:
        agentId:
          type: string
        kind:
          type: string
          enum:
            - fact
            - preference
            - summary
            - conversation
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        importance:
          type: number
    UpdateMemoryRequest:
      allOf:
        - $ref: '#/components/schemas/CreateMemoryRequest'
    ProviderCredential:
      type: object
      properties:
        provider:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - active
            - disabled
            - missing
        isDefault:
          type: boolean
        lastValidatedAt:
          type: string
          format: date-time
          nullable: true
    ProviderCredentialRequest:
      type: object
      required:
        - name
        - config
      properties:
        name:
          type: string
        isDefault:
          type: boolean
        config:
          type: object
          additionalProperties: true
    ProviderStatus:
      type: object
      properties:
        provider:
          type: string
        valid:
          type: boolean
        message:
          type: string
    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          type: string
        toolCallId:
          type: string
          nullable: true
    TestResponse:
      type: object
      properties:
        transcript:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        provider:
          type: string
        model:
          type: string
        latencyMs:
          type: integer
        toolEvents:
          type: array
          items:
            type: object
            properties:
              toolId:
                type: string
              request:
                type: object
                additionalProperties: true
              response:
                type: object
                additionalProperties: true
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
